<!DOCTYPE html>
<html lang="en">

<head>
    <link type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="Style/Style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>

<body>
    <div id="app_1">
        <div id="1" class="containerHeader">
            <header>
                <span class="logo">Logo</span>
                <div class="navigation">
                    <a href="#" class="navItem">Главная</a>
                    <a href="#kat" class="navItem">Категории</a>
                    <a href="korzina.html#1" class="navItem">Корзина
                        <div class="cart_counter">{{cart.length}}</div>
                    </a>
                    <a href="#registr" class="navItem">Личный кабинет</a>
                    <input type="text" class="searchInput" placeholder="Поиск товара"><button class="searchButton"><img
                            src="img/icons/search.svg" alt=""></button>
                </div>
                <div class="navigation2">
                    <a class="menu_burger_a" @click="countOfClick3==0?countOfClick3++:countOfClick3--"></a>
                    <img class="menu_burger_img" src="img/icons/menu.png" alt="">
                </div>
            </header>
        </div>
        <div class="containerSlider">
            <div class="slider swiper-container">
                <div class="slider-container swiper-wrapper">
                    <div class="slide swiper-slide">
                        <div class="img-slide">
                            <div class="containerRowContent">
                                <div class="sliderColText">
                                    <h1>Lorem ipsum</h1>
                                    <p class="sliderText2">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                        Adipisci,
                                        dignissimos
                                        voluptatibus quia qui velit illo minima. Nisi harum dolore saepe?</p>
                                </div>
                                <div class="sliderColImage">
                                    <img src="img/sliderImage.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide swiper-slide">
                        <div class="img-slide">
                            <div class="containerRowContent">
                                <div class="sliderColText">
                                    <h1>Lorem ipsum</h1>
                                    <p class="sliderText2">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                        Adipisci,
                                        dignissimos
                                        voluptatibus quia qui velit illo minima. Nisi harum dolore saepe?</p>
                                </div>
                                <div class="sliderColImage">
                                    <img src="img/sliderImage.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide swiper-slide">
                        <div class="img-slide">
                            <div class="containerRowContent">
                                <div class="sliderColText">
                                    <h1>Lorem ipsum</h1>
                                    <p class="sliderText2">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                        Adipisci,
                                        dignissimos
                                        voluptatibus quia qui velit illo minima. Nisi harum dolore saepe?</p>
                                </div>
                                <div class="sliderColImage">
                                    <img src="img/sliderImage.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="category">
            <div class="new-items-title title-section" id="kat">
                <p class="category-title-img title-section-img"><img src="img/Слой_15.png" alt=""></p>
                <div class="new-items-title-title title-section-title-title">
                    <p class="new-items-title-tovar title-section-tovar">Категории
                        товаров</p>
                </div>
            </div>
            <div class="category-items">
                <div class="category-items-1">
                    <div class="item-guitars item_in_category">
                        <p class="category-items-text">Гитары</p>
                        <div class="items-of-category">
                            <img class="items-of-category-img" src="img/item_guitar.png" alt="">
                            <div class="items-of-category-text">
                                <div class="container-text">
                                    <p class="items-of-category-points"><a class="points"
                                            href="tovari.html#1">Акустические</a></p>
                                    <p class="items-of-category-points"><a href="tovari.html#1"
                                            class="points">Класические</a>
                                    </p>
                                    <p class="items-of-category-points"><a class="points" href="#">Бас
                                            гитары</a></p>
                                    <p class="items-of-category-points"><a class="points" href="#">Электрогитары</a></p>
                                    <p class="items-of-category-points"><a class="points"
                                            href="#">Электроакустические</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-drums item_in_category">
                        <p class="category-items-text">Барабаны</p>
                        <div class="items-of-category drums">
                            <img class="items-of-category-img" src="img/item_drums.png" alt="">
                            <div class="items-of-category-text">
                                <div class="container-text">
                                    <p class="items-of-category-points"><a class="points" href="#">Акустические</a></p>
                                    <p class="items-of-category-points"><a class="points" href="#">Класические</a></p>
                                    <p class="items-of-category-points"><a class="points" href="#">Бас гитары</a></p>
                                    <p class="items-of-category-points"><a class="points" href="#">Электрогитары</a></p>
                                    <p class="items-of-category-points"><a class="points"
                                            href="#">Электроакустические</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-keyboards item_in_category">
                        <p class="category-items-text">Клавишные</p>
                        <div class="items-of-category">
                            <img class="items-of-category-img" src="img/item_keyboards.png" alt="">
                            <div class="items-of-category-text">
                                <div class="container-text">
                                    <p class="items-of-category-points"><a class="points" href="#">Акустические</a></p>
                                    <p class="items-of-category-points"><a class="points" href="#">Класические</a></p>
                                    <p class="items-of-category-points"><a class="points" href="#">Бас гитары</a></p>
                                    <p class="items-of-category-points"><a class="points" href="#">Электрогитары</a></p>
                                    <p class="items-of-category-points"><a class="points"
                                            href="#">Электроакустические</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category-items-2 item_in_category">
                    <div class="item-winds">
                        <p class="category-items-text">Духовые</p>
                        <div class="items-of-category">
                            <img class="items-of-category-img" src="img/item_winds.png" alt="">
                            <div class="items-of-category-text">
                                <div class="container-text">
                                    <p class="items-of-category-points"><a class="points" href="#">Акустические</a></p>
                                    <p class="items-of-category-points"><a class="points" href="#">Класические</a></p>
                                    <p class="items-of-category-points"><a class="points" href="#">Бас гитары</a></p>
                                    <p class="items-of-category-points"><a class="points" href="#">Электрогитары</a></p>
                                    <p class="items-of-category-points"><a class="points"
                                            href="#">Электроакустические</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-bowed item_in_category">
                        <p class="category-items-text">Смычковые</p>
                        <div class="items-of-category bowed">
                            <img class="items-of-category-img" src="img/item_bowed.png" alt="">
                            <div class="items-of-category-text">
                                <div class="container-text">
                                    <p class="items-of-category-points"><a class="points" href="#">Акустические</a></p>
                                    <p class="items-of-category-points"><a class="points" href="#">Класические</a></p>
                                    <p class="items-of-category-points"><a class="points" href="#">Бас гитары</a></p>
                                    <p class="items-of-category-points"><a class="points" href="#">Электрогитары</a></p>
                                    <p class="items-of-category-points"><a class="points"
                                            href="#">Электроакустические</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-equipments item_in_category">
                        <p class="category-items-text">Оборудование</p>
                        <div class="items-of-category">
                            <img class="items-of-category-img" src="img/item_equipments.png" alt="">
                            <div class="items-of-category-text">
                                <div class="container-text">
                                    <p class="items-of-category-points"><a class="points" href="#">Акустические</a></p>
                                    <p class="items-of-category-points"><a class="points" href="#">Класические</a></p>
                                    <p class="items-of-category-points"><a class="points" href="#">Бас гитары</a></p>
                                    <p class="items-of-category-points"><a class="points" href="#">Электрогитары</a></p>
                                    <p class="items-of-category-points"><a class="points"
                                            href="#">Электроакустические</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div>
            <div class="new-items" v-show="newItem2()">
                <div class="new-items-title title-section">
                    <p class="category-title-img title-section-img"><img src="img/Слой_15.png" alt=""></p>
                    <div class="new-items-title-title title-section-title-title">
                        <p class="new-items-title-tovar title-section-tovar">Новинки</p>
                    </div>
                </div>
                <div class="button_rel">
                    <section class="new-items-table" id="card">
                        <div v-for="good in reversedItemGood" v-show="newItem(good)" class="itemCard">
                            <div class="itemCardImg">
                                <img :src="good.image[0]" alt="">
                            </div>
                            <div v-if="good.discount" class="itemCardDiscount">
                                -{{good.discount}}%
                            </div>
                            <div class="itemCardName">
                                {{good.name}} от {{good.proizvoditel}}
                            </div>
                            <div class="item_card_info">
                                <div class="itemCardCode">
                                    Код товара:{{good.codeOfGood}}
                                </div>
                                <div v-for="n in 5" class="itemCardRate">
                                    <img :src="rating(n, good.comment)" alt="">
                                </div>
                                <span><a class="itemCardComment"
                                        href="tovar.html#coment">Отзывы:{{good.comment.length}}</a></span>
                                <div class="itemCardPrice">
                                    <div v-if="good.discount" class="itemCardDiscountPrice">
                                        {{good.price}}грн.
                                    </div>
                                    <br>
                                    <div class="itemCardPrice2" :class="{redText:good.discount>0}">
                                        {{discountPrice2(good)}}грн.
                                    </div>
                                </div>
                            </div>
                            <button class="itemCardBtn"><a class="item_img2_link"
                                    href="tovar.html#1"></a>Купить</button>

                        </div>
                        <div class="gg">f</div>
                    </section>
                    <div class="btnItem" @click="anim3('card')"><img src="img/right-arrow.png" alt=""></div>
                    <div class="btnItem2" @click="anim4('card')"><img src="img/right-arrow.png" alt=""></div>
                </div>
                <div class="btn_more"><a class="item_img2_link" href="tovari.html#1"></a>Показать больше</div>
            </div>
            <div class="new-items" v-show="discountPrice3()">
                <div class="new-items-title title-section">
                    <p class="category-title-img title-section-img"><img src="img/Слой_15.png" alt=""></p>
                    <div class="new-items-title-title title-section-title-title">
                        <p class="new-items-title-tovar title-section-tovar">Скидки</p>
                    </div>
                </div>
                <div class="button_rel">
                    <section class="new-items-table" id="card2">
                        <div v-for="good in reversedItemGood" v-show="good.discount" class="itemCard">
                            <div class="itemCardImg">
                                <img :src="good.image[0]" alt="">
                            </div>
                            <div v-if="good.discount" class="itemCardDiscount">
                                -{{good.discount}}%
                            </div>
                            <div class="itemCardName">
                                {{good.name}} от {{good.proizvoditel}}
                            </div>
                            <div class="item_card_info">
                                <div class="itemCardCode">
                                    Код товара:{{good.codeOfGood}}
                                </div>
                                <div v-for="n in 5" class="itemCardRate">
                                    <img class="itemCardRate3" :src="rating(n, good.comment)" alt="">
                                </div>
                                <span><a class="itemCardComment"
                                        href="tovar.html#coment">Отзывы:{{good.comment.length}}</a></span>
                                <div class="itemCardPrice">
                                    <div v-if="good.discount" class="itemCardDiscountPrice">
                                        {{good.price}}грн.
                                    </div>
                                    <br>
                                    <div class="itemCardPrice2" :class="{redText:good.discount>0}">
                                        {{discountPrice2(good)}}грн.
                                    </div>
                                </div>
                            </div>
                            <button class="itemCardBtn"><a class="item_img2_link"
                                    href="tovar.html#1"></a>Купить</button>
                        </div>
                        <div class="gg">f</div>
                    </section>
                    <div class="btnItem" @click="anim3('card2')"><img src="img/right-arrow.png" alt=""></div>
                    <div class="btnItem2" @click="anim4('card2')"><img src="img/right-arrow.png" alt=""></div>
                </div>
                <div class="btn_more"><a class="item_img2_link" href="tovari.html#1"></a>Показать больше</div>
            </div>
        </div>

        <div class="footer">
            <div class="container-footer">
                <div class="footer-left foot">
                    <p class="footer-left-logo">Logo</p>
                    <p class="footer-left-p">Интернет-магазин музыкальных инструментов </p>
                </div>
                <div class="footer-center foot">
                    <div class="btn_link footer-center-title1"><a @click="countOfClick==0?countOfClick++:countOfClick--"
                            class="item_img2_link link_drop"><img class="btn_link_arrow1"
                                :class="{btn_link_arrow1_ac:countOfClick==1}" src="img/icons/arrow_up.png"
                                alt=""></a>Навигация
                    </div>
                    <div id="drop1" class="dropdown1" :class="{dropdown1_target:countOfClick==1}">
                        <p class="footer-center-title">Навигация</p>
                        <p class="footer-center-items"><a href="#">Главная</a></p>
                        <p class="footer-center-items"><a href="#kat">Категории</a></p>
                        <p class="footer-center-items"><a href="tovari.html#1">Скидки</a></p>
                        <p class="footer-center-items"><a href="tovari.html#1">Новинки</a></p>
                        <p class="footer-center-items"><a href="korzina.html#1">Корзина</a></p>
                        <p class="footer-center-items"><a href="kabinet.html#1">Личный кабинет</a></p>
                    </div>
                </div>
                <div class="footer-right foot">
                    <div class="btn_link footer-center-title1"><a
                            @click="countOfClick2==0?countOfClick2++:countOfClick2--" class="item_img2_link"><img
                                class="btn_link_arrow2" :class="{btn_link_arrow2_ac:countOfClick2==1}"
                                src="img/icons/arrow_up.png" alt=""></a>Свяжитесь
                        с нами</div>
                    <div id="drop2" class="dropdown2" :class="{dropdown2_target:countOfClick2==1}">
                        <p class="footer-center-title">Свяжитесь с нами</p>
                        <div class="footer-icons">
                            <a href="#"><img src="img/instagram.png" alt=""></a>
                            <a href="#"><img src="img/telegram.png" alt=""></a>
                            <a href="#"><img src="img/vk.png" alt=""></a>
                        </div>
                        <p class="footer-phone">Телефон: +380 68 232 22 34</p>
                        <p class="footer-phone">Эл. почта: 1234@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="registr" class="popup-reg">
            <a class="popup_link"></a>
            <div class="popup_body">
                <div class="popup_content">
                    <div class="popup_content500">
                        <div class="popup_content1">
                            <p class="popup_content_title">
                                Вход
                            </p>
                            <div class="popup_content1_info">
                                <form action="" method="POST">
                                    <p>Логин</p><input class="popup_enter" type="text"><br>
                                    <p>Пароль</p><input class="popup_enter" type="password"><br>
                                    <button class="btn_enter btn_enter2" type="submit">Войти</button>
                                </form>
                            </div>
                        </div>
                        <div class="popup_content2">
                            <p class="popup_content_title">
                                Регистрация
                            </p>
                            <div class="popup_content1_info">
                                <form action="" method="POST">
                                    <p>Имя</p><input class="popup_enter" type="text"><br>
                                    <p>Фамилия</p><input class="popup_enter" type="password"><br>
                                    <p>Телефон</p><input class="popup_enter" type="number"><br>
                                    <p>Эл. почта</p><input class="popup_enter" type="password"><br>
                                    <p>Адрес</p><input class="popup_enter" type="text"><br>
                                    <p>Логин</p><input class="popup_enter" type="text"><br>
                                    <p>Пароль</p><input class="popup_enter" type="password"><br>
                                    <button class="btn_enter btn_enter3" type="submit">Зарегистрироваться</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="popup-reg_cross" href="#obj"><img class="popup-reg_cross" src="img/icons/cross.png"
                        alt=""></a>
            </div>
        </div>
        <div class="main_menu_burger" :class="{main_menu_burger_target:countOfClick3}">
            <div class="container_burger">
                <a href="#" class="navItem2">Главная</a>
                <a href="#kat" class="navItem2">Категории</a>
                <a href="korzina.html#1" class="navItem2">Корзина
                    <div class="cart_counter2">{{cart.length}}</div>
                </a>
                <a href="#registr" class="navItem2">Личный кабинет</a>
            </div>
            <div class="show_img_exit2">
                <a @click="countOfClick3--" class="item_img2_link"></a>

                <img src="img/icons/cross_2.png" alt="">

            </div>
        </div>
        <div id="obj" class="obj"></div>
        <div id="obj2" class="obj"></div>
        <div id="drop3" class="obj"></div>
        <div id="drop4" class="obj"></div>
        <div v-if="goodItem.length>0" class="search_panel" :class="{search_panel2:isActive}">
            <div class="panel_good" v-for="item in goodItem">
                <div class="panel_img">
                    <img :src="item.image[0]" style="max-width:100px; max-height: 100px;height: auto;" alt="">
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="scripts/script.js"></script>
</body>

</html>