<!DOCTYPE html>
<html lang="en">

<head>
    <link type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="Style/Style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>

<body>
    <div id="app_1" class="container">

        <div id="1" class="containerHeader">
            <header>
                <span class="logo">Logo</span>
                <div class="navigation">
                    <a href="index.html#1" class="navItem">Главная</a>
                    <a href="index.html#kat" class="navItem">Категории</a>
                    <a href="korzina.html#1" class="navItem">Корзина
                        <div class="cart_counter">{{cart.length}}</div>
                    </a>
                    <a href="#registr" class="navItem">Личный кабинет</a>
                    <input type="text" class="searchInput" placeholder="Поиск товара"><button class="searchButton"><img
                            src="img/icons/search.svg" alt=""></button>
                </div>
            </header>
        </div>
        <div class="container_section">
            <p class="container_section_text">Электрогитары</p>
        </div>
        <div class="container_tovar">
            <p>
            <p class="item_name">{{itemGood[0].name}}</p>
            <p class="discount" v-if="itemGood[0].discount>0">-{{itemGood[0].discount}}%</p>
            </p>
            <div class="item_info">
                <div class="item_img">
                    <div id="prev_img" class="item_img1">
                        <div class="item_img_1" v-for="(image, index) in itemGood[0].image2"
                            @click="a=itemGood[0].image2[index]">
                            <a class="item_img2_link" href="#obj"></a><img class="item_info_img_prev" :src="image"
                                alt="">
                        </div>
                    </div>
                    <div class="item_img2_container">
                        <a class="item_img2_link" href="#show_img"></a>
                        <img class="item_img2" :src="a.length==0 ? a=itemGood[0].image2[0] : a" alt="">
                    </div>
                    <div v-if="itemGood[0].image2.length>4" @click="animScrollImgUp('prev_img')"
                        class="item_img_arrow_up">
                        <img src="img/icons/arrow_up.png" alt="">
                    </div>
                    <div v-if="itemGood[0].image2.length>4" @click="animScrollImgDown('prev_img')"
                        class="item_img_arrow_down">
                        <img src="img/icons/arrow_up.png" alt="">
                    </div>
                </div>
                <div class="item_buy">
                    <p class="item_buy_text">Код товара: {{itemGood[0].codeOfGood}}</p>
                    <p class="item_buy_text">Производитель: {{itemGood[0].proizvoditel}}</p>
                    <span class="item_buy_text">Цена:</span>
                    <p class="item_buy_price_dis" v-if="itemGood[0].discount>0">{{itemGood[0].price}}грн.</p><br>
                    <p :class="{item_buy_price:itemGood[0].discount>0, item_buy_price2:itemGood[0].discount==0 }">
                        {{price=discountPrice2(itemGood[0])}}грн.</p>
                    <div class="input_count">
                        <img @click="counterOfGood==1||counterOfGood=='' ? counterOfGood=1 : counterOfGood--"
                            :class="{btn_counter: counterOfGood==1}" src="img/icons/minus.png" alt="">
                        <input min="1" value="1" maxlength="2" type="number" v-model="counterOfGood"
                            class="item_buy_input">
                        <img @click="counterOfGood==99 ? counterOfGood : counterOfGood++"
                            :class="{btn_counter: counterOfGood==99}" src="img/icons/plus.png" alt="">
                    </div>
                    <p class="item_buy_text_total">Итого:</p>
                    <span class="item_buy_price_total">{{totalPrice=price*counterOfGood}}грн.</span>
                    <button @click="addToCart(itemGood[0], counterOfGood)" class="item_buy_btn"> В корзину</button>
                    <div class="rating">
                        <img class="itemCardRate2" src="img/rated.png" alt="">
                        <img class="itemCardRate2" src="img/rated.png" alt="">
                        <img class="itemCardRate2" src="img/rated.png" alt="">
                        <img class="itemCardRate2" src="img/rated.png" alt="">
                        <img class="itemCardRate2" src="img/unrated.png" alt="">
                        <a class="itemCardComment2" href="#coment">Отзывы:3</a>
                        <div class="writeComment">
                            <img class="commentImg" src="img/icons/pen.png" alt="">
                            <a class="itemCardComment2" href="#com">Написать отзыв</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="descr">
                <p class="item_description">Описание товара</p>
                <p class="item_description_text">{{itemGood[0].description}}</p>
                <p class="item_description">Технические характеристики</p>
                <p class="item_description_char">
                    {{itemGood[0].specific}}
                </p>
            </div>
            <div class="new-items2" v-show="discountPrice3()">
                <div class="new-items-title title-section">
                    <p class="new-items-title-img title-section-img"><img src="img/Слой_15.png" alt=""></p>
                    <div class="new-items-title-title title-section-title-title">
                        <p class="new-items-title-tovar title-section-tovar">Другие цвета и модификации</p>
                    </div>
                </div>
                <div class="button_rel">
                    <section class="new-items-table" id="card2">
                        <div v-for="good in itemGood" v-show="good.discount" class="itemCard">
                            <div class="itemCardImg">
                                <img :src="good.image1" alt="">
                            </div>
                            <div v-if="good.discount" class="itemCardDiscount">
                                -{{good.discount}}%
                            </div>
                            <div class="itemCardName">
                                {{good.name}}
                            </div>
                            <div class="item_card_info">
                                <div class="itemCardCode">
                                    Код товара:{{good.codeOfGood}}
                                </div>
                                <div v-for="n in 5" class="itemCardRate">
                                    <img :src="rating(n, good)" alt="">
                                </div>
                                <span><a class="itemCardComment" href="#coment">Отзывы:{{good.comment}}</a></span>
                                <div class="itemCardPrice">
                                    <div v-if="good.discount" class="itemCardDiscountPrice">
                                        {{good.price}}грн.
                                    </div>
                                    <br>
                                    <div class="itemCardPrice2">
                                        {{discountPrice2(good)}}грн.
                                    </div>
                                </div>
                            </div>
                            <button class="itemCardBtn"><a class="item_img2_link"
                                    href="tovar.html#11"></a>Купить</button>
                        </div>
                        <div class="gg">f</div>
                    </section>
                    <div class="btnItem" @click="anim3('card2')"><img src="img/right-arrow.png" alt=""></div>
                    <div class="btnItem2" @click="anim4('card2')"><img src="img/right-arrow.png" alt=""></div>
                </div>
                <div class="btn_more"><a class="item_img2_link" href="tovari.html#1"></a>Показать больше</div>
            </div>
            <div class="comments">
                <div class="new-items-title title-section"><a href="" id='com'></a>
                    <p class="new-items-title-img title-section-img"><img src="img/Слой_15.png" alt=""></p>
                    <div class="new-items-title-title title-section-title-title">
                        <p class="new-items-title-tovar title-section-tovar">Отзывы</p>
                    </div>
                </div>
                <div class="u_comment">
                    <form action="">
                        <p class="write_comment">Написать отзыв</p>
                        <p class="u_comment_text">Ваш отзыв</p>
                        <textarea class="u_comment_textarea" name="" maxlength="1000" id=""></textarea>
                        <p class="u_comment_text">Оценка</p>
                        <p class="u_comment_rate">
                            <span class="u_comment_rate_text">Плохо</span>
                            <span v-for="n in 5"><img class="u_comment_rating" src="img/unrated.png" alt=""></span>
                            <span class="u_comment_rate_text">Хорошо</span><br>
                            <button class="btn_comment">Отправить</button>
                        </p>
                    </form>
                </div>
                <div class="user_comment"><a href="" id="coment"></a>
                    <p class="write_comment">Отзывы о товаре ЭЛЕКТРОГИТАРА J8 ST HMG 101 BK</p>
                    <p class="user_info">
                        <span class="user_name">UserName - 29.01.2009</span>
                        <span v-for="n in 5"><img class="user_name_rate" src="img/rated.png" alt=""></span>
                    </p>
                    <p class="user_name_comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                        sit
                        amet nisl fermentum,
                        fringilla mi vel, congue quam. Sed aliquet magna
                        sed vehicula venenatis. Cras scelerisque mauris vitae convallis pellentesque.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container-footer">
                <div class="footer-left foot">
                    <p class="footer-left-logo">Logo</p>
                    <p class="footer-left-p">Интернет-магазин музыкальных инструментов </p>
                </div>
                <div class="footer-center foot">
                    <p class="footer-center-title">Навигация</p>
                    <p class="footer-center-items"><a href="index.html#1">Главная</a></p>
                    <p class="footer-center-items"><a href="index.html#kat">Категории</a></p>
                    <p class="footer-center-items"><a href="tovari.html#1">Скидки</a></p>
                    <p class="footer-center-items"><a href="tovari.html#1">Новинки</a></p>
                    <p class="footer-center-items"><a href="korzina.html#1">Корзина</a></p>
                    <p class="footer-center-items"><a href="kabinet.html#1">Личный кабинет</a></p>
                </div>
                <div class="footer-right foot">
                    <p class="footer-center-title">Свяжитесь с нами</p>
                    <div class="footer-icons">
                        <a href="#"><img src="img/instagram.png" alt=""></a>
                        <a href="#"><img src="img/telegram.png" alt=""></a>
                        <a href="#"><img src="img/vk.png" alt=""></a>
                    </div>
                    <p class="footer-phone">Телефон: +380 68 232 22 34</p>
                    <p class="footer-phone">Эл. почта: 1234@gmail.com</p>
                </div>
            </div>
        </div>

        <div id="registr" class="popup-reg">
            <div class="popup_body">
                <div class="popup_content">
                    <div class="popup_content1">
                        <p class="popup_content_title">
                            Вход
                        </p>
                        <div class="popup_content1_info">
                            <form action="" method="POST">
                                <p>Логин</p><input class="popup_enter" type="text"><br>
                                <p>Пароль</p><input class="popup_enter" type="password"><br>
                                <button class="btn_enter" type="submit">Войти</button>
                            </form>
                        </div>
                    </div>
                    <div class="popup_content2">
                        <p class="popup_content_title">
                            Регистрация
                        </p>
                        <div class="popup_content1_info">
                            <form action="" method="POST">
                                <p>Имя</p><input class="popup_enter" type="text"><br>
                                <p>Фамилия</p><input class="popup_enter" type="password"><br>
                                <p>Телефон</p><input class="popup_enter" type="text"><br>
                                <p>Эл. почта</p><input class="popup_enter" type="password"><br>
                                <p>Логин</p><input class="popup_enter" type="text"><br>
                                <p>Пароль</p><input class="popup_enter" type="password"><br>
                                <button class="btn_enter" type="submit">Зарегистрироваться</button>
                            </form>
                        </div>
                    </div>
                </div>
                <a class="popup-reg_cross" href="#obj"><img class="popup-reg_cross" src="img/icons/cross.png"
                        alt=""></a>
            </div>
        </div>
        <div id="show_img" class="popup-reg">
            <div class="popup_img_container">
                <img class="popup_img" :src="a" alt="">
            </div>
            <div class="show_img_exit">
                <a class="item_img2_link" href="#obj"></a>

                <img src="img/icons/cross_2.png" alt="">

            </div>
        </div>
        <div id="add_success" class="popup_add_success">
            <div class="add_success_img">
                <img class="add_success_img" src="img/success.png" alt="">
            </div>
            <div class="add_success_text">
                Товар добавлен в корзину
            </div>
        </div>
        <div id="obj" class="obj"></div>
    </div>

    <script type="text/javascript" charset="utf-8">
        setTimeout(() => add_success.hidden = true, 2000)
    </script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="scripts/script.js"></script>
</body>

</html>