<!DOCTYPE html>
<html lang="en">

<head>
    <link type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="Style/Style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>

<body>
    <div id="app_1">
        <div id="1" class="containerHeader">
            <header>
                <span class="logo">Logo</span>
                <div class="navigation">
                    <a href="index.html#1" class="navItem">Главная</a>
                    <a href="index.html#kat" class="navItem">Категории</a>
                    <a href="korzina.html#1" class="navItem">Корзина
                        <div class="cart_counter">{{cart.length}}</div>
                    </a>
                    <a href="#registr" class="navItem">Личный кабинет</a>
                    <input type="text" class="searchInput" placeholder="Поиск товара"><button class="searchButton"><img
                            src="img/icons/search.svg" alt=""></button>
                </div>
            </header>
        </div>
        <div class="container_section">
            <p class="container_section_text">Электрогитары</p>
        </div>
        <div class="container2">
            <div class="container_content">
                <div class="filter_content">
                    <div class="filter_content_parametr textOfFilter">
                        <p><span>Параметры:</span>
                        <p v-for="(item, index) in massProizv" v-if="itemFilters[index]==1"><span
                                class=" changedFilter"><span class="btnCloseFilter"><img src="img/icons/cross.png"
                                        alt=""></span>{{item}}</span>
                        </p>
                        </p>
                    </div>
                    <div class="filter_content_value">
                        <div class="filter_content_value_prod">
                            <p class="textOfFilter">Производитель:</p>
                            <div class="filter_content_value_item">
                                <label class="check2" v-for="(item, index) in filtersProizv">
                                    <input class="check" v-model="itemFilters[index]" type="checkbox">
                                    <p>{{massProizv[index]}}</p>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container_sort_item">
                    <div class="sort">
                        <div class="sort_container">
                            <p class="sort_text">Сортировка:</p>
                            <select v-model="counterOfSorter" v-if="sorting(counterOfSorter)"
                                class="sort_sort sort_text3">
                                <option value="1">По умолчанию</option>
                                <option value="2">От дешевых к дорогим</option>
                                <option value="3">От дорогих к дешевым</option>
                                <option value="4">Лучшие</option>
                            </select>
                            <span class="sort_text2">Товаров найдено: {{uploadedGood}}-{{itemGood.length}}</span>
                        </div>
                    </div>
                    <div class="container_item">
                        <section class="container_item_item">
                            <div v-for="(good, index) in reversedItemGood" v-if="changedFilters(good)"
                                class="itemCard2">
                                <div class="itemCardImg">
                                    <img :src="good.image[0]" alt="">
                                </div>
                                <div v-if="good.discount" class="itemCardDiscount">
                                    -{{good.discount}}%
                                </div>
                                <div class="itemCardName">
                                    {{good.name}} от {{good.proizvoditel}}
                                </div>
                                <div class="item_card_info">
                                    <div class="itemCardCode">
                                        Код товара:{{good.codeOfGood}}
                                    </div>
                                    <div v-for="n in 5" class="itemCardRate">
                                        <img :src="rating(n, good.comment)" alt="">
                                    </div>
                                    <span><a class="itemCardComment"
                                            href="tovar.html#coment">Отзывы:{{good.comment.length}}</a></span>
                                    <div class="itemCardPrice">
                                        <div v-if="good.discount" class="itemCardDiscountPrice">
                                            {{good.price}}грн.
                                        </div>
                                        <br>
                                        <div class="itemCardPrice2" :class="{redText:good.discount>0}">
                                            {{discountPrice2(good)}}грн.
                                        </div>
                                    </div>
                                </div>
                                <button class="itemCardBtn"><a class="item_img2_link"
                                        href="tovar.html#1"></a>Купить</button>
                            </div>
                        </section>
                        <div class="pagination">
                            <button class="pagination_prev">
                                <img class="pagination_img1" src="img/next.png" alt="">
                            </button>
                            <button class="pagination_num">
                                <p>1</p>
                            </button>
                            <button class="pagination_next">
                                <img class="pagination_img2" src="img/next.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container-footer">
                <div class="footer-left foot">
                    <p class="footer-left-logo">Logo</p>
                    <p class="footer-left-p">Интернет-магазин музыкальных инструментов </p>
                </div>
                <div class="footer-center foot">
                    <p class="footer-center-title">Навигация</p>
                    <p class="footer-center-items"><a href="index.html#1">Главная</a></p>
                    <p class="footer-center-items"><a href="index.html#kat">Категории</a></p>
                    <p class="footer-center-items"><a href="#">Скидки</a></p>
                    <p class="footer-center-items"><a href="#">Новинки</a></p>
                    <p class="footer-center-items"><a href="korzina.html#1">Корзина</a></p>
                    <p class="footer-center-items"><a href="kabinet.html#1">Личный кабинет</a></p>
                </div>
                <div class="footer-right foot">
                    <p class="footer-center-title">Свяжитесь с нами</p>
                    <div class="footer-icons">
                        <a href="#"><img src="img/instagram.png" alt=""></a>
                        <a href="#"><img src="img/telegram.png" alt=""></a>
                        <a href="#"><img src="img/vk.png" alt=""></a>
                    </div>
                    <p class="footer-phone">Телефон: +380 68 232 22 34</p>
                    <p class="footer-phone">Эл. почта: 1234@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <div id="registr" class="popup-reg">
        <div class="popup_body">
            <div class="popup_content">
                <div class="popup_content1">
                    <p class="popup_content_title">
                        Вход
                    </p>
                    <div class="popup_content1_info">
                        <form action="" method="POST">
                            <p>Логин</p><input class="popup_enter" type="text"><br>
                            <p>Пароль</p><input class="popup_enter" type="password"><br>
                            <button class="btn_enter" type="submit"><a class="item_img2_link"
                                    href="kabinet.html#1"></a>Войти</button>
                        </form>
                    </div>
                </div>
                <div class="popup_content2">
                    <p class="popup_content_title">
                        Регистрация
                    </p>
                    <div class="popup_content1_info">
                        <form action="" method="POST">
                            <p>Имя</p><input class="popup_enter" type="text"><br>
                            <p>Фамилия</p><input class="popup_enter" type="password"><br>
                            <p>Телефон</p><input class="popup_enter" type="text"><br>
                            <p>Эл. почта</p><input class="popup_enter" type="password"><br>
                            <p>Логин</p><input class="popup_enter" type="text"><br>
                            <p>Пароль</p><input class="popup_enter" type="password"><br>
                            <button class="btn_enter" type="submit">Зарегистрироваться</button>
                        </form>
                    </div>
                </div>
            </div>
            <a class="popup-reg_cross" href="#obj"><img class="popup-reg_cross" src="img/icons/cross.png" alt=""></a>
        </div>
    </div>
    <div id="obj" class="obj"></div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="scripts/script.js"></script>
</body>

</html>