
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans';
}
/*header*/
.logo{
    font-size: 48px;
    font-weight: bold;
    line-height: 66px;
    text-align: left;
}
.navigation{
    display: inline-block;
    line-height: 66px;
    position: absolute;
    right: 0;
    top: 0;
}
.navigation2{
    display: none;
}
.containerHeader{
    width: 920px;
    margin: 0 auto;
    padding: 0 auto;
    height: 66px;
    position: relative;
}
.navItem{
    margin: 0 13px;
    color: black;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 6px;
    border-bottom: 2px solid #ffffff;
}
.footer-center-items a{
    border-bottom: 2px solid black;
}
.navItem:hover, .footer-center-items a:hover{
    transition: 0.5s;
    border-bottom: 2px solid#ff9b04;
}
.navItem:nth-child(3){
    position: relative;
}
.cart_counter{
    position: absolute;
    display:inline;
    bottom: 0;
    right: 0;
    text-align: center;
    background: url(https://zgibator.github.io/kursach/img/elips.png) no-repeat;
    background-position: center center;
    color: white;
    font-size: 14px;
    width: 19px;
    height: 19px;
    line-height: 19px;
}
.searchInput{
    font-weight: 700;
    opacity: 0.5;
    font-size: 14px;
    width: 146px;
    height: 32px;
    margin: 1px 0 0 10px;
    border: 1px solid #bbc5b7;
    border-radius: 1px;
    background-color: #ffffff;
    line-height: 0.7px;
    text-align: left;
}
.searchButton{
    display: inline-block;
    width: 29px;
    height: 31px;
    border-bottom: 0;
    background-color: #ff9b04;
}
.menu_burger{
    display: none;
}

/*Slider*/

.containerSlider{
    overflow: hidden;
    background-color: black;
    color: white;
    min-width: 100%;
    height: auto;
    box-shadow: 0 20px 21px rgba(0, 0, 0, 0.35);
}

.containerRowContent{
    position: relative;
    overflow: hidden;
    display: flex;
    width: 920px;
    justify-content: space-between;
    padding: 21px 0;
    max-height: 100%;
}
.sliderColText{
    width: 40%;
}
h1{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 80px;
}
.sliderText2{
    display: inline;
    font-size: 24px;
    text-align: left;
    margin: 0 0 0 10px;
}
.sliderColImage img{
    max-width: 100%;
    float: right;
}
.slider{
    width: 920px;
    margin: 0 auto;
    text-align: center;
    height: auto;
}
.img-slide img{
    height: auto;
    margin: 0 auto;
}
.slider-container{
    display: flex;
}

/*Category*/
.new-items, .new-items6, .category{
    position: relative;
}
.btn_more{
    position: relative;
    display: inline-block;
    padding: 3px;
    border: 2px solid #ff9b04;
    background-color:  #ff9b04;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    color: white;
    margin-top: 5px;
    transition: 0.5s;
    margin-left: 50%;
    transform: translateX(-50%);
}
.btn_more:hover{
    background-color:  white;
    color:  #ff9b04;
}
.category-title-img{
    display: flex;
}
.category-title-img img{
    margin: auto;
    max-width: 100%;
}
.category, .new-items, .new-items6{
    width: 920px;
    margin: 0 auto;
}
.title-section{
    margin: 50px auto 0 auto;
}
.title-section-tovar{
    color: #000000;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-top: 32px;
}
.category-items, .new-items-table{
    margin-top: 50px;
}
.category-items-1{
    display: flex;
    margin: 0 0 20px 0;
    justify-content: center;
}
.category-items-2{
    display: flex;
    justify-content: center;
}
.items-of-category{
    position: relative;
    margin-top: 5px;
    display: block;
    width: 270px;
    height: 270px;
    transition: 2s;
    box-shadow: 28px 15px 13px rgba(0, 0, 0, 0.35);
    perspective: 1000px;
    transform-style:preserve-3d;
}
.items-of-category-img{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}
.items-of-category-text{
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    border: 1px solid black;
    transition: 0.2s;
    padding-top: 10px;
    text-align: center;
    backface-visibility: hidden;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.35);
}
.items-of-category:hover{
    transform: rotateY(180deg);
    box-shadow: 28px 15px 13px rgba(0, 0, 0, 0.0);
}
.category-items-text{
color: #000000;
font-family: "Open Sans";
font-size: 24px;
font-weight: 700;
line-height: 24px;
text-align: center;
}
.drums, .bowed{
    margin: 5px 50px 0 50px;
}
.items-of-category-points{
    margin-top: 5px;
    text-align: center;
    
}
.points{
    color: #004c93;
    border-bottom: 1px solid #004c93;
    font-size: 14px;
}

/*new items*/

.new-items-table{
    display: flex;
    width: auto;
    height: auto;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    background-color: #f7f7f7;
    overflow-x: auto;
    position: relative;
}
.new-items-table::-webkit-scrollbar {
    display: none;
  }
.itemCard{
    min-width: 200px;
    max-width: 200px;
    margin: 16px 17px;
    height: 246px;
    background-color: #fff;
    border: 1px solid #000;
    position: relative;
    transition: 0.3s;
}
.itemCard:hover{
    border: 1px solid #ff9b04;
}
.itemCardImg{
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 200px;
    height: 140px;
}
.itemCardImg img{
    height: auto;
    max-height: 100px;
    width: 100%;
    object-fit: contain;
    margin: auto;
}
.item_card_info{
    position: absolute;
    bottom: 5px;
    left: 1px;
}
.itemCardDiscount{
    position: absolute;
    background-color: #007b00;
    width: 33px;
    height: 17px;
    line-height: 17px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    top: 3px;
    right: 3px;
    border-radius: 3px;
}
.itemCardName{
    color: #264d90;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    text-align: left;
    text-transform: uppercase;
    margin: 0 2px;
    position: absolute;
    top: 140px;
}
.itemCardCode{
    opacity: 0.75;
    margin:20px 0 0 2px;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}
.itemCardRate{
    display: inline-block;
    width: 16px;
    height: 15px;
    margin: 0 1px;
}
.itemCardComment{
color: #264d90;
font-size: 11px;
font-weight: 500;
line-height: 24px;
text-align: left;
}
.itemCardComment:hover, .itemCardComment2:hover{
    text-decoration: underline;
}
.itemCardDiscountPrice{
    display: inline-block;
    color: #717171;
    font-size: 11px;
    font-weight: 700;
    line-height: 10px;
    text-decoration: line-through;
}
.itemCardPrice2{
    display: inline-block;
    
    font-size: 14px;
    font-weight: 700;
    line-height: 10px;
}
.itemCardPrice{
    display: inline-block;
    text-align: center;
    width: 62px;
    margin: 3px 0 0 3px;
}
.itemCardBtn{
    width: 78px;
    height: 29px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #ff9b04;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    bottom: 3px;
    right: 3px;
    transition: 0.5s;
}
.itemCardBtn a, .btn_enter a{
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    transition: 0.5s;
}
.btn_comment:hover{
    border: 2px solid  #ff9b04;
    background: white;
    color: #ff9b04;
}
.itemCardBtn:hover a, .btn_enter:hover a{
    color:  #ff9b04;
}
.itemCardBtn:hover{
    border:2px solid #ff9b04;
    background-color: white;
    color:  #ff9b04;
}
.btnItem{
    display:inline;
    background-color: #bdbdbd;
    opacity: 0.75;
    border-radius: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}
.btnItem2{
    transform: translateY(-50%) rotate(180deg);
    display:inline;
    background-color: #bdbdbd;
    opacity: 0.75;
    border-radius: 1px;
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.button_rel{
    position: relative;
}
.btnItem:active, .btnItem2:active{
    background: rgb(0, 110, 255);
}
.gg{
    width: 17px;
    color: #f7f7f7;
}
/*footer*/

.btn_link{
    display: none;
}
.footer{
    background-color: #000;
    width: 100%;
    height: auto;
    margin-top: 35px;
    color: white;
}
.container-footer{
    display: flex;
    justify-content: space-between;
    width: 920px;
    margin: 0 auto;
    padding-top:50px;
    padding-bottom: 20px;
}
.footer-left-logo{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}
.footer-left-p{
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 20px;
}
.foot{
    width: 33.333%;
}
.footer-center-title{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.footer-center-items{
    text-align: center;
}
.footer-center-items a{
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.changedLink{
    border-bottom: 2px solid #ff9b04;
}
.footer-icons{
    text-align: center;
}
.footer-phone{
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}




/*TOVARI.HTML*/

/*header*/

.container_section{
    height: 100px;
    max-width: 100%;
    background: #000;
}
.container_section_text{
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
}
.container_content{
    display: grid;
    grid-template-columns: 281px 630px;
    column-gap: 10px;
    width: 923px;
    margin: 25px auto 0 auto;
}
.filter_content{
    width: 281px;
    height: auto;
    padding: 5px;
    border: 1px solid #cbcbcb;
    background-color: #f7f7f7;
}
.changedFilter{
    border-radius: 10px;
    background-color: silver;
    font-weight: 300;
    padding: 0 5px;
    white-space: pre;
    margin-top: 5px;
    margin-left: 1px;
}
.btnCloseFilter img{
    width: 20px;
    cursor: pointer;
}
.textOfFilter{
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}
.textOfFilter p{
    display: inline-block;
    margin-top: 5px;
}
.filter_content_value_prod{
    margin-top: 5px;
    transition: all 1s ease-in-out;
}
.check{
    width: 15px;
    height: 15px;
}
.check2{
    display: block;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 5px;
}
.check2 p{
    display: inline-block;
    margin-left: 3px;
}

/*sorting*/

.container_sort_item{
    display: block;
    width: 630px;
}
.sort{
    height: 41px;
    border: 1px solid #cbcbcb;
    background-color: #f7f7f7;
    right: 0;
    top: 0;
}
.sort_sort{
    display: inline-block;
    line-height: 30px;
    width: 182px;
    height: 31px;
    border-radius: 5px;
    border: 1px solid #cbcbcb;
    background-color: #ffffff;
    padding-top: 0;
    font-size: 13px;
    font-weight: 700;
    opacity: 0.75;
}
.sort_text{
    display: inline;
    line-height: 41px;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}
.sort_text2{
    opacity: 0.75;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    margin-left: 35px;
}
.sort_container{
    margin: 0 20px;
}
.container_item{
    margin-top: 10px;
    border: 1px solid #cbcbcb;
    background-color: #f7f7f7;
}
.container_item_item{
    display: grid;
    grid-template-rows: 246px;
    grid-template-columns: 200px 200px 200px;
    justify-content:space-between ;
    row-gap: 5px;
    column-gap: 5px;
}
.itemCard2{
    margin: 0 0;
    width: 200px;
    height: 246px;
    background-color: #fff;
    border: 1px solid #000;
    position: relative;
    transition: 0.3s;
}
.itemCard2:hover{
    border: 1px solid #ff9b04;
}
.pagination_prev{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #e1e5e1;
}
.pagination_next{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #e1e5e1;
}
.pagination_num{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #e1e5e1;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin: 0 20px;
}
.pagination_img1{
    width: 15px;
    height: 25px;
    line-height: 35px;
    transform: rotate(180deg);
}
.pagination_img2{
    width: 15px;
    height: 25px;
    line-height: 35px;
}
.pagination{
    display: flex;
    margin: 10px auto;
    width: auto;
    justify-content: center;
}
.container{
    display: block;
    position: relative;
}
.container2{
    position: relative;
    margin: 0 140px;
}


/*Tovar*/


.container_tovar{
    width: 920px;
    margin: 0 auto;
    position: relative;
}
.item_name{
    display: inline-block;
    color: #264d90;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 20px;
}
.item_info{
    display: flex;
    margin-top: 1px;
    min-height: 180px;
    margin-top: 10px;
}
.item_info_img_prev{
    width: 100%;
    height: auto;
    margin: auto;
}
.item_info_img{
    object-fit: contain;
    width: 200px;
    height: 180px;

}
.item_img{
    display: flex;
    position: relative;
    width: 650px;
    height: 375px;
}
.item_img_1{
    display: flex;
    position: relative;
    width: 70px;
    height: 70px;
}
.btn_counter{
    opacity: 0.4;
}
.item_img1{
    position: relative;
    height: 280px;
    margin: auto;
    width: 80px;
    overflow-y: auto;
    -ms-overflow-style: none;
}
.item_img1::-webkit-scrollbar { 
    width: 0; 
}
.item_img_1 img{
    width: 100%;
    height: auto;
    margin: auto;
    object-fit: contain;
    transition: 0.3s;
    max-width: 70px;
    max-height: 70px;
    border-radius: 10px;
    border: 1px solid white;
}
.item_img_1 a:hover{
    border: 1px solid green;
    border-radius: 10px;
}
.item_img2_container{
    display: flex;
    position: relative;
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    padding: 3px;
}
.item_img2_link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#show_img{
    opacity: 0;
    visibility: hidden;
}
#show_img:target{
    opacity: 1;
    visibility: visible;
}
.item_img2_container:hover{
    border: 1px solid green;
    border-radius: 10px;
}
.item_img2{
    max-width: 100%;
    object-fit: contain;
    max-height: 370px;
    margin: auto;
}
.item_img_arrow_up{
    position: absolute;
    top: 0;
    left: 10px;
    width: 50px;
    height: auto;
    cursor: pointer;
}
.item_img_arrow_up img{
    width: 50px;
    height: auto;
}
.item_img_arrow_down img{
    width: 50px;
    height: auto;
}
.item_img_arrow_down{
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 50px;
    height: auto;
    transform: rotate(180deg);
    cursor: pointer;
}
.item_buy{
    border-left: 1px solid #b6b4b4;
}
.item_buy_text{
    opacity: 0.75;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 5px;
}
.item_buy_text_total{
    opacity: 0.75;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 5px;
}
.item_buy_price_dis{
    display: inline-block;
    margin-left: 5px;
    line-height: 10px;
    text-decoration: line-through;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    opacity: 0.75;
}
.item_buy_price{
    display: inline-block;
    color: red;
    font-size: 26px;
    font-weight: 700;
    margin-left: 5px;
    line-height: 20px;
}
.item_buy_price2{
    display: inline-block;
    color: black;
    font-size: 26px;
    font-weight: 700;
    margin-left: 5px;
    line-height: 20px;
}
.item_buy_price_total{
    font-size: 26px;
    font-weight: 700;
    margin-left: 5px;
    line-height: 26px;
}
.discount{
    display: inline-block;
    background-color: #007b00;
    line-height: 22px;
    color: white;
    width: 70px;
    height: 25px;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    border-radius: 3px;
    margin-left: 5px;
}
.item_buy_btn{
    position: relative;
    width: 89px;
    height: 34px;
    border-radius: 10px;
    border: 2px solid #bbc5b7;
    background-color: #ff9b04;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    margin: 8px 0 0 0;
    transition: 0.3s;
}
.item_buy_btn:hover{
    border:2px solid #ff9b04;
    background-color: white;
    color:  #ff9b04;
}
.item_buy_input{
    border: 1px solid #cbcbcb;
    background-color: #f7f7f7;
    display: block;
    width: 45px;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}
.item_buy_input::-webkit-outer-spin-button,
.item_buy_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input_count{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.input_count img{
    width: 15px;
    height: 15px;
    margin: 0 5px;
    color: rgb(49, 49, 49);
    cursor: pointer;
}
.rating{
    margin-left: 5px;
    margin-top: 10px;
}
.itemCardRate2{
    width: 20px;
}
.itemCardComment2{
    color: #264d90;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}
.writeComment{
    margin-top: 3px;
    margin-left: 3px;
}
.commentImg{
    width: 20px;
}
.item_delivery{
    margin-top: 3px;
    margin-left: 5px;
    border: 1px solid #b6b4b4;
    background-color: #f9f9f9;
}
.item_delivery p{
    margin-top: 3px;
}
.text_delivery{
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}
.icon_info{
    height: 18px;
    margin-right: 3px;
}
.text_delivery_info{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.item_description{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 5px 0;
}
.item_description_text{
    opacity: 0.75;
    font-size: 18px;
    line-height: 20px;
    text-indent: 30px;
}
.item_description_char{
    opacity: 0.75;
    font-size: 18px;
    margin: 0 0 0 30px;
}
.new-items2{
    position: relative;
}
.write_comment{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
}
.u_comment_text{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}
.u_comment_textarea{
    border: 1px solid  #afafaf;
    background-color:#f0f0f0;
    width: 100%;
    height: 150px;
    resize: none;
}
.u_comment_rating1{
    display: inline-block;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
}
.u_comment_rating1 span{
    margin-left: -5px;
    padding: 0 1px;
}
.u_comment_rate_text{
    font-size: 14px;
    font-weight: 300;
}
.u_comment_rate_text1{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    line-height: 16px;
}
.u_comment_rate_text1 img{
    margin: 0 1px;
}
.u_comment_rate{
    margin-top: 5px;
}
.btn_comment{
    border-radius: 10px;
    border: 2px solid  #ff9b04;
    background-color: #ff9b04;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    width: 100px;
    height: 30px;
    margin: 17px 0 0 0;
    transition: 0.5s;
}
.user_info{
    margin-top: 18px;
    font-size: 14px;
    font-weight: 700;
}
.user_name{
    opacity: 0.75;
}
.user_name_rate{
    width: 16px;
    height: 15px;
    margin: 0 1px;
}
.user_name_comment{
    margin: 10px 0;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 13px;
    border-bottom: 1px solid #b6b4b4;
}

/*Корзина*/
.redText{
    color: red;
}
.container_cart{
    margin: 15px auto 0 auto;
    width: 920px;
    border-top: 1px solid #b6b4b4;
    border-bottom: 1px solid #b6b4b4;
}
.container_cart_title{
    display: flex;
    justify-content: space-between;
}
.cart_item1{
    max-width: 52%;
}
.cart_text{
    color: #626262;
    font-size: 15px;
    font-weight: 700;
}
.item_info2{
    position: relative;
}
.item_img2_container img{
    object-fit: contain;
}
.item_name2{
    color: #264d90;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
}
.item_name2:hover{
    text-decoration: underline;
}
.item_rating{
    position: absolute;
    bottom: 0;
}
.item_rating span{
    margin: 0 1px 0 1px;
}
.item_rating {
    margin-top: 5px;
}
.item_rating p{
    opacity: 0.75;
    font-size: 11px;
    font-weight: 500;
}
.item_rate{
    display: inline-block;
    margin-top: 10px;
}
.cart_item4{
    position: relative;
}
.cart_text2{
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}
.card_item{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.card_item_1{
    margin: 0 20px;
}
.card_item_1:last-child{
    margin: 0 0 0 20px;
}
.nav1{
    display: flex;
    width: 920px;
    margin: 10px auto 0 auto;
    justify-content: space-between;
}
.link_delete{
    position: absolute;
    right: 0;
    bottom: 3px;
}
.btn_confirm{
    display: inline;
    position: relative;
    width: 165px;
    height: 39px;
    border-radius: 10px;
    border: 2px solid #bbc5b7;
    background-color: #ff9b04;
    color: white;
    font-size: 19px;
    font-weight: 500;
    transition: 0.5s;
}
.btn_confirm:hover { 
    border:2px solid #ff9b04;
    background-color: white;
    color:  #ff9b04;
}
.total_cart_price{
    color: #626262;
    font-size: 18px;
    font-weight: 700;
}
.total_cart_price2{
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.pagination2{
    display: flex;
}


/*Личный кабинет*/


.container_user{
    margin: 0 140px 100px 140px;
}
.item_desc_margin{
    margin-top: 60px;
    text-align: center;
}
.user_info_cabinet{
    display: flex;
}
.user_info_col_span{
    color: red;
    font-size: 16px;
}
.user_info_col1, .user_info_col2{
    width: 50%;
}
.user_info_col_p{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    width: 200px;
}
.user_info_col_input{
    width: 207px;
    height: 29px;
    border-radius: 3px;
    border: 1px solid #b6b4b4;
    margin-bottom: 30px;
}
.user_info_col1 div, .user_info_col2 div{
    width: 40%;
    margin: 0 auto;
}
.itemCardBtn3{
    width: 108px;
    height: 33px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #ff9b04;
    color: #ffffff;
    font-size: 19px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 20px;
}
.itemCardBtn3:hover{
    border:2px solid #ff9b04;
    background-color: white;
    color:  #ff9b04;
    scroll-margin-top: 200px;
}



/*///////////////////////////////////////////*/

/*popup*/

.popup_add_success{
    position: fixed;
    display: flex;
    top: 10px;
    right: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    width: 300px;
    height: 100px;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    padding: 3px;
}
.popup_add_success_open{
    opacity: 1;
    visibility: visible;
}
.item_buy_btn a{
    position: absolute;
    width: 100%;
    height: 100%;
}
.add_success_img{
    width: 80px;
    height: auto;
    margin: auto;
}
.add_success_text{
    margin: auto;
    font-size: 16px;
    font-weight: 500;
    color: green;
    text-align: center;
}
/*///////////////////////////////////*/
.popup-reg{
    display: flex;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease-in-out;
    
}
.popup-reg:target{
    opacity: 1;
    visibility: visible;
}
.popup-reg:target .popup_body{
    transform: perspective(1000px) translateY(0) rotateX(0deg);
}
.popup_body{
    transition: all 0.8s ease-in-out;
    transform: perspective(1000px) translateY(-100%) rotateX(45deg);
    display: flex;
    width: 50%;
    height: 60%;
    min-height: 60%;
    margin: 60px auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    position: relative;
}
.popup_content{
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: space-around;
}
.popup_content1_info{
    text-align: left;
}
.popup_content1_info p{
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 80px;
    margin-top: 20px;
}
.popup_enter{
    font-weight: 700;
    font-size: 14px;
    width: 146px;
    height: 20px;
    margin: 1px 0 0 10px;
    border: 1px solid #bbc5b7;
    border-radius: 1px;
    background-color: #ffffff;
    line-height: 0.7px;
    text-align: left; 
}
.btn_enter{
    margin: 20px 0 20px 50%;
    height: 29px;
    border-radius: 10px;
    transform: translateX(-50%);
    border: 2px solid white;
    background-color: #ff9b04;
    color: #ffffff;
    font-size: 14px;
    line-height: 25px;
    transition: 0.5s;
    padding: 0 10px;
}
.btn_enter:hover{
    border: 2px solid  #ff9b04;
    color: #ff9b04;
    background-color: white;
}
.popup_content_title{
    font-size: 26px;
    font-weight: 700;

}
.popup_content1{
    margin-right: 30px;
}
.popup-reg_cross{
    position: absolute;
    max-width: 20px;
    max-height: 20px;
    right: 10px;
    top: 10px;
}
.obj{
    position: fixed;
    top: 0;
    left: 0;
}
.popup_link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.show_img_exit{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    display: flex;
    background-color: rgba(88, 88, 88, 0.3);
}
.show_img_exit:hover{
    background-color: rgba(138, 138, 138, 0.3);
}
.show_img_exit img{
    width: 70px;
    margin: auto;
}
.popup_img{
    border-radius: 10px;
    object-fit: contain;
    margin: auto;
    max-width: 1000px;
    max-height: 600px;
}
.popup_img_container{
    display: flex;
    object-fit: contain;
    background-color: white;
    width: 1000px;
    height: 600px;
    margin: auto;
    border-radius: 10px;
}


/*zakaz*/
.container_zakaz{
    width: 920px;
    margin: 0 auto;
    margin-top: 30px;
}
.user_details_enter{
    font-size: 18px;
    font-weight: 700;
}
.user_details_enter a{
    color: #004c93;
}
.user_details_form{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.container_delivery{
    width: 200px;
    height: 220px;
    border: 1px solid #b6b4b4;
    background-color: #f9f9f9;
    padding: 5px;
}
.title{
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
}
.delivery_text span{
    font-size: 16px;
    font-weight: 700;
    color: red;
}
.text{
    font-size: 14px;
    margin-top: 3px;
}
.item_description2{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 20px 0;
}
.item_description2::before{
    display:inline;
    content: '  1  ';
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    background: url(https://zgibator.github.io/kursach/img/elips.png) no-repeat;
    background-position: center center;
    color: white;
    font-size: 20px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
}
.order_title_text::before{
    display:inline;
    content: '  2  ';
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    background: url(https://zgibator.github.io/kursach/img/elips.png) no-repeat;
    background-position: center center;
    color: white;
    font-size: 20px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
}
.container_deliv{
    margin-top: 30px;
}
.deliv_title_text{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.deliv_title_text::before{
    display:inline;
    content: '  3  ';
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    background: url(https://zgibator.github.io/kursach/img/elips.png) no-repeat;
    background-position: center center;
    color: white;
    font-size: 20px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
}
.order_title_text{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 20px 0;
}
.order_title{
    display: flex;
    justify-content: space-between;
}
.total_price{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 20px 0;
}
.search_panel{
    position: absolute;
    top: 47px;
    right: 115px;
    width: 200px;
    height: 100px;
    background: white;
    transition: 00.5s;
}
.search_panel2{
    opacity: 0;
    transform: translateX(100%);
}





/*media-запросы*/
@media(max-width:1050px){
    
    .category{
        max-width: 100%;
    }
    .containerHeader{
        width: 770px;
        margin: 0 auto;
        padding: 0 auto;
        height: 66px;
    }
    .logo{
        font-size: 30px;
        line-height: 66px;
    }
    .navItem{
        margin: 0 10px;
        font-size: 14px;
        padding: 10px 4px;
    }
    .cart_counter{
        position: absolute;
        display:inline;
        bottom: 2px;
        right: 0;
        text-align: center;
        background: url(https://zgibator.github.io/kursach/img/elips.png) no-repeat;
        background-position: center center;
        color: white;
        font-size: 12px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        border-radius: 50%;
    }
    .container-footer{
        display: flex;
        justify-content: space-between;
        width: 770px;
        margin: 0 auto;
        padding-top:50px;
    }
    .new-items{
        margin: auto;
    }
    .containerRowContent{
        width: 770px;
        padding: 17px 30px;
    }
    .slider{
        width: 770px;
    }
    .sliderText2{
        font-size: 20px;
    }
    .sliderColImage img{
        max-width: 80%;
    }
    h1{
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: 60px;
    }
    .containerSlider{
        height: auto;
    }
    .title-section-tovar{
        font-size: 30px;
        line-height: 24px;
        margin-top: 20px;
    }
}
@media(max-width:925px){
    .new-items{
        max-width: 100%;
    }
    .footer-center-title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .footer-phone{
        font-size: 12px;
        line-height: 20px;
    }
    .footer-center-items a{
        font-size: 12px;
        line-height: 20px;
    }
    .footer-left-logo{
        font-size: 24px;
    }
    .footer-left-p{
        font-size: 12px;
        line-height: 20px;
        margin-top: 10px;
    }
    .footer-icons img{
        width: 25px;
    }
    .container-footer{
        width: 725px;
        padding-top:20px;
        padding-bottom: 20px;
    }
    
    .drums, .bowed{
        margin: 5px 20px 0 20px;
    }
    .items-of-category{
        width: 220px;
        height: 220px;
        box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.35);
    }
    .itemCard{
        margin: 16px 2px;
    }
    .category-items, .new-items-table{
        margin-top: 20px;
    }
}
@media(max-width:815px){
    
    .navItem{
        margin: 0 5px;
        font-size: 12px;
        padding: 10px 4px;
    }
    .logo{
        font-size: 26px;
        line-height: 66px;
    }
    .searchInput{
        font-size: 12px;
        width: 110px;
        height: 22px;
        margin: 1px 0 0 10px;
    }
    .searchButton{
        width: 21px;
        height: 21px;
    }
    .searchButton img{
        width: 18px;
    }
    .containerHeader{
        width: 600px;
    }
    .itemCard{
        min-width: 180px;
        max-width: 180px;
        margin: 5px 1px;
        height: 206px;
    }
    .itemCardImg{
        max-width: 180px;
        height: 100px;  
    }
    .itemCardName{
        font-size: 9px;
        line-height: 10px;
        margin: 0 2px;
        top: 100px;
    }
    .itemCardCode{
        font-size: 10px;
        line-height: 16px;
    }
    .itemCardRate{
        width: 13px;
        height: 13px;
    }
    .itemCardRate img{
        width: 13px;
        height: 13px;
    }
    .sliderText2{
        font-size: 14px;
    }
    .sliderColImage img{
        max-width: 70%;
    }
    .sliderColText{
        width: 80%;
    }
    .containerRowContent{
        width: 670px;
        padding: 10px 10%;
        justify-content: space-around;
    }
    .slider{
        width: 670px;
    }
    h1{
        font-size: 20px;
        line-height: 40px;
    }
    .cart_counter{
        position: absolute;
        display:inline;
        bottom: 5px;
        right: 0;
        text-align: center;
        background: url(https://zgibator.github.io/kursach/img/elips.png) no-repeat;
        background-position: center center;
        color: white;
        font-size: 10px;
        width: 12px;
        height: 12px;
        line-height: 12px;
        border-radius: 50%;
    }
    
}
@media(max-width:725px){
    .navItem{
        display: none;
    }
    .searchButton{
        margin-right: 30px;
    }
    .menu_burger_a{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .menu_burger_img{
        width: 30px;
        height: 30px;
    }
    .container-footer{
       flex-direction: column-reverse;
       align-items: center;
       max-width: 100%;
       padding-top: 0;
    }
    .btn_link{
        display: block;
        border: 2px solid black;
        position: relative;
        z-index: 2;
        transition: 1s ease-in-out;
    }
    .footer-center-title{
        display: none;
    }
    .footer-center-title1{
        font-size: 24px;
        padding: 7px 10px;
        font-weight: 700;
        text-align: center;
        background-color: white;
        color: black;
    }
    .foot{
        width: 100%;
        overflow: hidden;
    }
    .dropdown2{
        position: relative;
        transform: translateY(-150px);
        transition: 1s ease-in-out;
        height: 0;
        z-index: 1;
    }
    .dropdown2_target{
        transform: translateY(0);
        height: 70px;
    }
    .dropdown1{
        position: relative;
        transform: translateY(-150px);
        transition: 1s ease-in-out;
        height: 0;
        z-index: 1;
    }
    .dropdown1_target{
        transform: translateY(0);
        height: 130px;
    }
    .btn_link_arrow1, .btn_link_arrow2{
        position: absolute;
        width: 30px;
        right: 10px;
        top:50%;
        transform: translateY(-50%) rotate(180deg);
    }
    .btn_link_arrow1_ac, .btn_link_arrow2_ac{
        transform: translateY(-50%) rotate(0deg);
    }
    .footer-left{
        margin-top: 10px;
    }
    .main_menu_burger{
        display: flex;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1200;
        top: 0;
        left: 0;
        transform: translateX(100%);
        visibility: hidden;
        transition: 1s ease-in-out;
    }
    .main_menu_burger_target{
        transform: translateX(0);
        visibility: visible;
    }
    .container_burger{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .navItem2{
        margin: 0 25px;
        color: white;
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        padding: 10px 6px;
        position: relative;
        border: 2px solid rgba(0, 0, 0, 0);
    }
    .navItem2:hover{
        transition: 0.5s;
        border-bottom: 2px solid#ff9b04;
    }
    .cart_counter2{
        position: absolute;
        display:inline;
        bottom: 2px;
        right: 50px;
        text-align: center;
        background: url(https://zgibator.github.io/kursach/img/elips.png) no-repeat;
        background-position: center center;
        color: white;
        font-size: 15px;
        width: 17px;
        height: 17px;
        line-height: 17px;
        border-radius: 50%;
    }
    .show_img_exit2{
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 100px;
        display: flex;
        background-color: rgba(88, 88, 88, 0.3);
    }
    .show_img_exit2:hover{
        background-color: rgba(138, 138, 138, 0.3);
    }
    .show_img_exit2 img{
        width: 70px;
        margin: auto;
    }
    .navigation{
        right: 20px;
    }
    .navigation2{
        display: inline-block;
        line-height: 66px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
    }
    .category-items-1{
        display: inline-flex;
        flex-direction: column;
        margin: auto;
    }
    .category-items-2{
        display: inline-flex;
        flex-direction: column;
        margin: auto;
    }
    .drums, .bowed{
        margin-left: 0;
    }
    .category-items{
        display: flex;
        max-width: 100%;
        justify-content: space-around;
    }
    .items-of-category{
        margin-left: 15px;
    }
    .item_in_category{
        margin-top: 20px;
    }
}
@media(max-width:620px){
    
}